#!/usr/bin/env python
PACKAGE = "hero_chassis_controller"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("max_vel_x", double_t, 0, "W/S ceiling (m/s)", 0.6, 0.0, 50.0)
gen.add("max_vel_y", double_t, 0, "A/D ceiling (m/s)", 0.6, 0.0, 50.0)
gen.add("max_vel_w", double_t, 0, "Q/E ceiling (rad/s)", 1.2, 0.0, 50.0)
gen.add("max_acc_x", double_t, 0, "vx ramp (m/s^2)", 1.5, 0.0, 20.0)
gen.add("max_acc_y", double_t, 0, "vy ramp (m/s^2)", 1.5, 0.0, 20.0)
gen.add("max_acc_w", double_t, 0, "wz ramp (rad/s^2)", 3.0, 0.0, 40.0)

exit(gen.generate(PACKAGE, "hero_chassis_controller", "HeroChassis"))